<div id="markdoc-chooser"><%- chooser %></div>
<div id="markdoc-content"><%- content %></div>
<script>
    let selectedValsByPrefId =
    <%- JSON.stringify(defaultValsByPrefId, null, 2) %>;
    const renderableTree =
    <%- JSON.stringify(renderableTree, null, 2) %>;
    const pagePrefsConfig =
    <%- JSON.stringify(pagePrefsConfig, null, 2) %>;
    const prefOptionsConfig =
    <%- JSON.stringify(prefOptionsConfig, null, 2) %>;
    clientRenderer.initialize({
        pagePrefsConfig,
        prefOptionsConfig,
        selectedValsByPrefId,
        renderableTree
    });
</script>
