<div id="chooser"><%- chooser %></div>
<div id="content"><%- content %></div>
<script>
    let selectedValsByPrefId =
    <%- JSON.stringify(defaultValsByPrefId, null, 2) %>;
    const renderableTree =
    <%- JSON.stringify(renderableTree, null, 2) %>;
    const pagePrefsConfig =
    <%- JSON.stringify(pagePrefsConfig, null, 2) %>;
    const prefOptionsConfig =
    <%- JSON.stringify(prefOptionsConfig, null, 2) %>;
    const contentElement = document.getElementById('content');
    const chooserElement = document.getElementById('chooser');
    console.log("from page: configuring client renderer ...");
    clientRenderer.configure({
        pagePrefsConfig,
        prefOptionsConfig,
        chooserElement,
        contentElement,
        selectedValsByPrefId,
        renderableTree
    });
</script>
