<div id="chooser"><%- chooser %></div>
<div id="content"><%- content %></div>
<script>
    let selectedValsByPrefId =
    <%- JSON.stringify(defaultValsByPrefId, null, 2) %>;

    const renderableTree =
    <%- JSON.stringify(renderableTree, null, 2) %>;

    const pagePrefsConfig =
    <%- JSON.stringify(pagePrefsConfig, null, 2) %>;

    const prefOptionsConfig =
    <%- JSON.stringify(prefOptionsConfig, null, 2) %>;

    const contentDiv = document.getElementById('content');

    function handleValueChange(varName, newValue) {
      selectedValsByPrefId[varName] = newValue;
      MarkdocClientRenderer(renderableTree, contentDiv, { variables: selectedValsByPrefId });
    }
</script>
