---
import type { ApiCategory } from '../../data/api/index';
import styles from './ApiSideNav.module.css';

interface Props {
  categories: ApiCategory[];
  currentSlug?: string;
}

const { categories, currentSlug } = Astro.props;
---

<nav class={`api-side-nav ${styles.nav}`}>
  <a href="/" class={`api-side-nav__title ${styles.title}`}>
    Datadog Docs&nbsp;&nbsp;<span class={`api-side-nav__title-api ${styles['title__api']}`}>API</span>
  </a>
  <ul class={`api-side-nav__list ${styles.list}`}>
    {categories.map((cat) => {
      const isActive = cat.slug === currentSlug;
      const categoryHref = `/api/latest/${cat.slug}/`;
      return (
        <li>
          <a
            href={categoryHref}
            class:list={['api-side-nav__category', { 'api-side-nav__category--active': isActive }, styles.category, { [styles['category--active']]: isActive }]}
          >
            {cat.name}
          </a>
          <ul class:list={['api-side-nav__operations', { 'api-side-nav__operations--expanded': isActive }, styles.operations, { [styles['operations--expanded']]: isActive }]}>
            {cat.operations.map((op) => (
              <li>
                <a href={`${categoryHref}#${op.slug}`} class={`api-side-nav__operation ${styles.operation}`}>
                  {op.summary}
                </a>
              </li>
            ))}
          </ul>
        </li>
      );
    })}
  </ul>
</nav>
