---
import TabsIsland from '../Tabs/TabsIsland.astro';
import Tab from '../Tab/Tab.astro';
import CodeBlockIsland from '../CodeBlock/CodeBlockIsland.astro';
import { ApiSchemaTable } from '../ApiSchemaTable/ApiSchemaTable';
import type { SchemaField } from '../ApiSchemaTable/ApiSchemaTable';
import styles from '../ApiEndpoint/ApiEndpoint.module.css';
import { classListFactory } from '../../utils/classListFactory';

const cl = classListFactory(styles);

interface Example {
  name: string;
  value: string;
}

interface Props {
  schema: SchemaField[];
  examples: Example[];
}

const { schema, examples } = Astro.props;

const hasSchema = schema.length > 0;
const hasExamples = examples.length > 0;
---

{hasSchema && !hasExamples && (
  <ApiSchemaTable client:load fields={schema} />
)}

{!hasSchema && hasExamples && (
  <div class={cl('request-body-tabs__examples')}>
    {examples.map((ex) => (
      <CodeBlockIsland content={ex.value} language="json" />
    ))}
  </div>
)}

{hasSchema && hasExamples && (
  <TabsIsland variant="pills">
    <Tab label="Model">
      <ApiSchemaTable client:load fields={schema} />
    </Tab>
    <Tab label="Example">
      <div class={cl('request-body-tabs__examples')}>
        {examples.map((ex) => (
          <div>
            {examples.length > 1 && <strong>{ex.name}</strong>}
            <CodeBlockIsland content={ex.value} language="json" />
          </div>
        ))}
      </div>
    </Tab>
  </TabsIsland>
)}
