
<div class="container">

<% items_with_tag(tag).each do |article| %>
  <h2><%= link_to article[:title], article %></h2>
  <p><%= article[:summary] %></p>

  <br>This example can be found in these groups:<br>
  <% article[:tags].map do |t| %>
    | <span><a href="/examples/<%= t %>" title="articles tagged with <%= t %>"><%= t %></a></span> |
  <% end  %>

<% end %>
</div>
